.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: whitesmoke; 
}
.table-view .column-header .label{
   -fx-text-fill: black;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell
{
    -fx-cell-size: 35;
    -fx-alignment: center-left;
    -fx-background-color: #29292D;
    -fx-border-color: #29292D;
    -fx-text-fill: lightgray;
    -fx-alignment: CENTER_LEFT;
    -fx-font: Calibri;
    -fx-font-weight: bold; 
}

.table-row-cell:selected
{
    -fx-background-color: whitesmoke; 
    -fx-text-background-color:  whitesmoke;
}

.table-view .increment-button ,.table-view .decrement-button
{
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( whitesmoke,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( whitesmoke,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}